$colors: (
    gray: (
        121,
        119,
        119,
    ),
    blue: (
        42,
        107,
        200,
    ),
    green: (
        62,
        180,
        78,
    ),
    yellow: (
        248,
        212,
        7,
    ),
    orange: (
        250,
        117,
        34,
    ),
    red: (
        255,
        83,
        83,
    ),
    pink: (
        255,
        83,
        198,
    ),
    violet: (
        148,
        104,
        225,
    ),
);
